<h1>Undirskriftalisti</h1>
<form method="POST" action="/submit-Signature">

    <label for="name" >Nafn*</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="ssn" >SSN*</label>
    <input type="text" id="ssn" name="ssn" placeholder="000000-0000" required>
    <br>
    <label for="comment">Athugasemd:</label>
    <input type="textarea" id="comment" name="comment">
    <br>
    <label for="list" >Ekki Birta nafn รก lista</label>
    <input type="checkbox" id="list" name="list">   
    <br>
    <input type="submit" id="submit" value="Skrifa Undir">
</form>
<p><%=error%></p>
<h1>Undirskriftir</h1>

<table>
    <tr>
        <th><b>Dags</b></th>
        <th><b>Nafn</b></th>
        <th><b>Athugasemd</b></th>
    </tr>
    <% signature.forEach((el ,i) =>{%> 
    <tr>
        <th> <%=signature[i].date%></th>
        <th> <%=signature[i].name%> </th>
        <th> <%=signature[i].comment%></th>
    </tr>
    <% }); %>
</table>