<h1>Undirskriftalisti</h1>
<form>

    <label for="name" >Nafn*</label><br>
    <input type="text" id="name" name="name" required>

    <label for="ssn" >SSN*</label><br>
    <input type="text" id="ssn" name="ssn" placeholder="000000-0000" required>

    <label for="comment">Athugasemd:</label><br>
    <input type="textarea" id="comment" name="comment">

    <label for="list" >Ekki Birta nafn á lista</label><br>
    <input type="checkbox" id="list" name="list">   

</form>

<button>Skrifa Undir</button>

<h1>Undirskriftir</h1>

<table>
    <tr>
        <th><b>Dags</b></th>
        <th><b>Nafn</b></th>
        <th><b>Athugasemd</b></th>
    </tr>
</table>